@import url('https://fonts.googleapis.com/css?family=Lato:400,300,700|Ubuntu:400,300,500,700);')


// ------------------------------------------------------------------------------------
// VARIABLES
// ------------------------------------------------------------------------------------

// FONTS
$title_font = "Ubuntu"
$read_font = "Lato"

// COLORS
$color1 = #086375
$color2 = #1DD3B0
$color3 = #35142C
$color4 = #FFEE33
$color5 = #B2FF9E
$color6 = #F23AAB
$color7 = #828AFF


/* RGB */
$color1_1 = rgba(244, 232, 193, 1);
$color1_2 = rgba(160, 193, 185, 1);
$color1_3 = rgba(112, 160, 175, 1);
$color1_4 = rgba(112, 105, 147, 1);
$color1_5 = rgba( 51,  30,  56, 1);


// SIZES
$nav-height = 30px
$column-border-width = 3px

// ------------------------------------------------------------------------------------
// MIXINS
// ------------------------------------------------------------------------------------
media_queries = {
 mobile : "only screen and (max-width: 600px)",
 tablet : "only screen and (min-width: 601px) and (max-width: 800px)",
 desktop : "only screen and (min-width: 801px) and (max-width: 1200px)"
 wide  : "only screen and (min-width: 1201px)"
}

for_breakpoint(breakpoints)
 conditions = ()
 for breakpoint in breakpoints
  push(conditions, media_queries[breakpoint])
 conditions = join(", ", conditions)
 @media conditions
  {block}

vendor(prop, args)
 -webkit-{prop} args
 -moz-{prop} args
 -ms-{prop} args
 -o-{prop} args
 {prop} args

border-radius()
 vendor('border-radius', arguments)

box-shadow()
 vendor('box-shadow', arguments)

transition()
 vendor('transition', arguments)

transform()
 vendor('transform', arguments)

transform-origin()
 vendor('transform-origin', arguments)

user-select()
 vendor('user-select', arguments)

background-linear-gradient(startPoint, startColor, startInterval, endColor, endInterval, deprecatedWebkitStartPoint = false, deprecatedWebkitEndPoint = false)
 background-color startColor
 if deprecatedWebkitStartPoint && deprecatedWebkitEndPoint
  background-image -webkit-gradient(linear, deprecatedWebkitStartPoint, deprecatedWebkitEndPoint, color-stop(startInterval, startColor), color-stop(endInterval, endColor))
 background-image -webkit-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
 background-image -moz-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
 background-image -ms-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
 background-image -o-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
 background-image linear-gradient(startPoint, startColor startInterval, endColor endInterval)





// ------------------------------------------------------------------------------------
// BASE
// ------------------------------------------------------------------------------------

html, body
	background #fff
	height 100%
	width 100%
	margin 0
	padding 0
	overflow hidden

html, body, div, section
	box-sizing border-box

a
	color #fff
	text-decoration none

p, ul, li, a
	display inline-block
	margin 0
	padding 0

p
	line-height 2em
	letter-spacing .01em

body, p, input
	font-weight normal
	font-family $read_font

h1, h2, h3, h4, h5
	font-family  $title_font



// ------------------------------------------------------------------------------------
// CHAT
// ------------------------------------------------------------------------------------
#chat iframe, #content, #chat, .container
	height 100%


#chat iframe
	position absolute
	width 111%
	height 111%
	top 50%
	left 50%
	transform translate(-50%, -50%) scale(0.9)

#chat
	transition right .8s cubic-bezier(0.7, 0, 0.4, 1)
	position absolute
	width 25%
	border-left $column-border-width solid $color1_2
	overflow hidden
	right 0

#chat, #content, nav
	min-height 100vh
	position absolute




// ------------------------------------------------------------------------------------
// CONTENT
// ------------------------------------------------------------------------------------
iframe
	width 100%
	border none

#video
	min-height 350
	border-bottom 1px solid #ddd

#content
	position absolute
	display inline-block
	width 60%
	left 15%
	transition width .8s cubic-bezier(0.7, 0, 0.4, 1), left .8s cubic-bezier(0.7, 0, 0.4, 1)
	background #f9f9f9

#content-wrapper
    height 100vh
    overflow-y auto
    padding-bottom 40px

#toggle-nav, #toggle-chat
	position fixed
	padding 10px 13px
	background $color1_2
	bottom 0%
	z-index 100
	color #fff

#toggle-nav i, #toggle-chat i
	transform rotate(0deg)
	transition all .8s cubic-bezier(0.7, 0, 0.4, 1)

#toggle-chat
    transition right .8s cubic-bezier(0.7, 0, 0.4, 1)
    right 25%








// ------------------------------------------------------------------------------------
// NAV
// ------------------------------------------------------------------------------------

nav
	display inline-block
    position absolute
	background $color1_5
	min-height 100vh
	left 0
	width calc(15% - 3px)
	border-right $column-border-width solid $color1_2
	transition left .8s cubic-bezier(0.7, 0, 0.4, 1)

.badge
	display inline-block
	height 30px
	padding 0px 10px 10px 0
	margin 0 0 0 15px


h2.badge-label
	margin 20px 0
	display inline-block
	color #fff !important
	padding 0

.list
	margin 0
	padding 0

.item
	width 100%
	padding 0px 10px
	font-size .9em
	border-bottom 1px solid rgba(255,255,255,.07)

.link
	padding 12px 10px
	color rgba(255,255,255,.9)
	text-decoration none
	font-family Roboto Slab


.icon
	padding-right 15px



// ------------------------------------------------------------------------------------
// SKILL MAP
// ------------------------------------------------------------------------------------

#map
	position fixed
	bottom 15px
	left 15px
	width calc(15% - 35px)
	height 200px
	box-sizing border-box
	border 5px solid #333
	transition all .6s cubic-bezier(0.7, 0, 0.4, 1)
	z-index 9999
#map
    overflow hidden

#map.disabled-nav
	left -15%


#map.open-map
	left 4%
	bottom 6%
	width 92%
	height 88%


#map-modal-bg
    position fixed
    width 100%
    height 100%
    z-index -1
    background #000
    opacity 0
    transition all .6s cubic-bezier(0.7, 0, 0.4, 1)

#map-bg
    position absolute
    width 100%
    height 100%
    background url(bg.png)
    background-position center center
    z-index -1


.close-btn
    position absolute
    background $color4
    padding 7px 15px 10px 15px
    font-weight 900
    font-size 1.2em
    top -100px
    left 0
    opacity .5
    color #222
    transition all .6s cubic-bezier(0.7, 0, 0.4, 1)


#map.open-map .close-btn
    top 0
    z-index 9998
    opacity 1

#map-modal-bg.open-map
    z-index 9997
    opacity .8
    transition all .6s cubic-bezier(0.7, 0, 0.4, 1)

#map:hover
	cursor pointer

#map.open-map .map-title
    top 0

.map-title
    transition all .6s cubic-bezier(0.7, 0, 0.4, 1)
    position absolute
    color $color4
    width 100%
    height 100%
    text-align center
    top 33%
    left 0
    text-transform uppercase

.node
    width 90px !important
    background rgba(0,0,0,.2)
    height 30px !important
    padding 6px 0 0 0 !important

#infovis
    position relative
    margin auto
    overflow hidden
    z-index 100

.tip
    color  #111
    width  139px
    background-color #fff
    border 1px solid #ccc
    opacity 0.9
    font-size 10px
    padding 7px

#infovis, #infovis-canvaswidget, canvas
    width 1400px !important
    height 800px !important


.shine-me
    position  absolute
    height  100%
    width 100% /*Make sure the animation is over the whole element*/
    -webkit-animation-name  ShineAnimation
    -webkit-animation-duration  4s
    -webkit-animation-iteration-count  infinite
    -webkit-animation-timing-function  cubic-bezier(.12,.89,.98,.47)
    -webkit-animation-delay 4s


@-webkit-keyframes ShineAnimation{
    from {
        background-repeat:no-repeat;
        background-image:-webkit-linear-gradient(
            top left,
            rgba(255, 255, 255, 0.0) 0%,
            rgba(255, 255, 255, 0.0) 46%,
            $color4 48%,
            $color4 50%,
            rgba(255, 255, 255, 0.0) 52%,
            rgba(255, 255, 255, 0.0) 100%
        );
        background-position:-350px -350px;
        background-size: 600px 600px
    }
    to {
        background-repeat:no-repeat;
        background-position:200px 200px;
    }
}

#map.open-map .shine-me{
    -webkit-animation-duration: 0s;
}




// ------------------------------------------------------------------------------------
// YOUTUBE COMPONENT
// ------------------------------------------------------------------------------------
.youtubeComponent
	position relative
	width 100%

.next, .prev, .index
	display inline-block
	width calc(100%/3)
	margin -3px 0 0 0
	font-family Roboto Slab
	padding 10px 0
	text-align center
	box-sizing border-box
	background $color1_2
	text-transform uppercase
	font-size .8em
	color $333

.prev
	background $color1_1

.index
	background $color1_2

.next
	background $color1_3

.next:hover, .prev:hover, .index:hover
	background $color1
	cursor pointer

.previcon
	margin-right 8px

.nexticon
	margin-left 8px

.player
	height 390px
	width 100%
	background #000





// ------------------------------------------------------------------------------------
// CONTENT COMPONENT
// ------------------------------------------------------------------------------------


.text
    width 100%
    text-align center

.title h1, .description p
    display block
    max-width 600px
    margin auto
    text-align left
    padding 0 20px

.title h1
    margin 50px auto
    padding 0 20px
	font-weight 700

.description p
    font-weight 300
    line-height 1.7em


.prev:hover, .next:hover
	cursor pointer







// ------------------------------------------------------------------------------------
// INDEX MODAL
// ------------------------------------------------------------------------------------
.modal-index
    display block
    z-index -1
    position absolute
    background $color3
    position absolute
    top 0%
    left 50%
    height 90%
    transform translate(-50%, 0%)
    max-width 500px
    width 100%
    overflow scroll
    opacity 0
    transition all .8s cubic-bezier(0.7, 0, 0.4, 1)
    ul
        width 100%

        li
            display block
            width 100%
            padding 10px 25px
            color #fff
            border-bottom 1px solid rgba(255,255,255,.1)
            box-sizing border-box
            &:hover
                background $color1
                cursor pointer

.modal-bg
    position absolute
    background #000
    z-index -1
    opacity 0
    top 0
    left 0
    width 100%
    height 100%
    transition opacity .8s cubic-bezier(0.7, 0, 0.4, 1)
.modal-bg.modal-index-active
    z-index 10
    opacity .7
    transition opacity .8s cubic-bezier(0.7, 0, 0.4, 1)
.modal-index.modal-index-active
    z-index 999
    opacity 1
    margin auto
    top 5%
    transition all .8s cubic-bezier(0.7, 0, 0.4, 1)






// ------------------------------------------------------------------------------------
// DISABLE FIELDS
// ------------------------------------------------------------------------------------

#chat.disabled-chat
	right -25%

#content.disabled-chat
	width 85%

nav.disabled-nav
	left -15%

#content.disabled-nav
	width 75%
	left 0

#content.disabled-nav.disabled-chat
	width 100% !important

#toggle-nav.disabled-nav i
	transform rotate(180deg)


#toggle-chat.disabled-chat i
	transform rotate(180deg)

#toggle-chat.disabled-chat
    right 0%



.beta-message
    color #eee
    padding 5px 20px 20px 20px
    font-size .8em
    a
        color $color4
        display inline
