</div><!-- animsition end -->

<script src="https://www.gstatic.com/firebasejs/3.4.0/firebase.js"></script>
<script language="javascript" type="text/javascript" src="js/jit-yc.js"></script>
<script type="text/javascript" src="https://www.youtube.com/player_api"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="https://use.fontawesome.com/503e9375ae.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.2/js/animsition.min.js"></script>
<script type="text/javascript" src="js/bundle.min.js"></script>

</body>
</html>
