/*@import '_style/reset';*/
@import '_style';
@import 'holon-markdownbox';
@font-face                       {
  font-family                    : Pixelade;
  src                            : url('assets/PIXELADE.ttf');
}
:root {
  /* THEME */
  --Theme-color1                 : #7A68F2;
  --Theme-color2                 : #3627B4;
  --Theme-color3                 : #E2FCEF;
  --Theme-color4                 : #9B287B;
  --Theme-color5                 : #2D4042;
  --Theme-color6                 : #FFFFFF;
  --Theme-color7                 : #000000;
  /*--Theme-color8                 : #wizardFaceColor; */
  --Theme-font1                  : Ubuntu Mono, Open Sans, monaco, sans-serif;
  --Theme-font2                  : Pixelade;
  /* APPLY THEME */
  --WizardAmigosInstitute-color1 : var(--Theme-color1);
  --WizardAmigosInstitute-color2 : var(--Theme-color2);
  --WizardAmigosInstitute-color3 : var(--Theme-color3);
  --WizardAmigosInstitute-color4 : var(--Theme-color4);
  --WizardAmigosInstitute-color5 : var(--Theme-color5);
  --WizardAmigosInstitute-color6 : var(--Theme-color6);
  --WizardAmigosInstitute-color7 : var(--Theme-color7);
  /*--WizardAmigosInstitute-color8 : var(--Theme-color8);*/
  --WizardAmigosInstitute-font1  : var(--Theme-font1);
  --WizardAmigosInstitute-font2  : var(--Theme-font2);
  --WizardAmigosInstitute-font-size1       : 5vw; /*6.5vw;*/
  --WizardAmigosInstitute-font-size2       : 3vw;
  --WizardAmigosInstitute-font-size3       : 2.3vw;
  --WizardAmigosInstitute-borderwidth      : 4vw;
  --Markdownbox-color1           : var(--Theme-color1);
  --Markdownbox-color2           : var(--Theme-color2);
  --Markdownbox-color3           : var(--Theme-color3);
  --Markdownbox-color4           : var(--Theme-color4);
  --Markdownbox-color5           : var(--Theme-color5);
  --Markdownbox-font1            : var(--Theme-font1);
  --Markdownbox-font2            : var(--Theme-font2);
  --Markdownbox-font-size1       : 5vw; /*6.5vw;*/
  --Markdownbox-font-size2       : 3vw;
  --Markdownbox-font-size3       : 2.3vw;
  --Markdownbox-borderwidth      : 4vw;
}
